---
layout: default
title: Hotels
---

<section class="max-w-7xl mx-auto px-6 py-10">

  <h1 class="text-4xl font-bold mb-8">

    Hotels

  </h1>

  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">

    {% for page in site.pages %}

      {% if page.hotel_name %}

      <a
        href="{{ page.url }}"
        class="bg-white rounded-2xl shadow p-6"
      >

        <h2 class="font-bold text-xl">

          {{ page.hotel_name }}

        </h2>

        <p class="text-gray-600 mt-2">

          {{ page.address }}

        </p>

      </a>

      {% endif %}

    {% endfor %}

  </div>

</section>
